.welcome_amministrazione {
	margin-bottom: 20px;
}

.btn-login {
	width: 100%;
}
table td,
table th {
    width: auto !important;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting:before,
	table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc:before,
	table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_asc_disabled:before,
	table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc:before,
	table.dataTable thead .sorting_desc_disabled:after, table.dataTable thead .sorting_desc_disabled:before
	{
	bottom: .5em;
}
#container-infoConto,
#ProductsOrdered{
	border-bottom: 2px solid black;
}
.container-conto {
	display:inline-block;
	border: 1px solid grey;
	border-radius: 3em;
	padding-bottom: 3em;
}

.row-totale{
	font-size:2em;
}

.login-form {
	border: 1px solid grey;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius: 3em;
	background-color: white;
}

.img-start {
	min-height: 45em;;
	background-image: url(../images/unisa.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.blacktrasparent {
	min-height: -webkit-fill-available;
	background: rgba(26, 26, 26, 0.4);
	overflow-y: hidden;
	overflow-x: hidden;
}

.access-problem {
	cursor: pointer;
}

.access-problem:hover {
	color: #4292e7;
	font-weight: bold;
}

.btn-accedi {
	width: 100%;
}

.error {
	color: red;
	text-align: center;
}

.bg-success-table>path {
	fill: green;
}

.table {
	width: 100%;
	height: 10em;
}

.container-table:hover {
	transform: scale(1.1);
	cursor: pointer;
	overflow: hidden;
}

.bg-success {
	background-color: #008000;
}

.span-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	font-size: 3em;
}

.text-error {
	font-weight: bold;
	color: red;
}

.text-success {
	font-weight: bold;
	color: green;
}

.input-fielderror {
	border: 1px solid red !important;
}

.btn-edit {
	
}

.btn-rowtable {
	width: 4em;
	height: 4em;
	padding: 4px;
}

.btn-rowtable-ordering {
	width: 3em;
	height: 3em;
	padding: 4px;
}

.btn-rowtable-ordering:hover, .btn-rowtable:hover {
	transform: scale(1.1);
	cursor: pointer;
}

#add-btn-table {
	float: right;
}

#container-tabella {
	/*width:55%;*/
	
}

tbody>tr>th {
	font-weight: normal;
}

.modal-body {
	font-weight: bold;
}

#right-container {
	/* border: 1px solid grey; */
	max-height: 100%;
	overflow-y: auto;
}