.welcome_amministrazione {
	margin-bottom: 20px;
}

.btn-login {
	width: 100%;
}

.login-form {
	border: 1px solid grey;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius: 3em;
}

<<<<<<< HEAD
.table-style {
	border: 4px solid;
	margin-top: 6px;
	margin-right: 8px;
	margin-left: 8px;
	margin-bottom: 6px;
}

.border-bottom {
	border-bottom-width: 8px;
	margin-bottom: 6px;
	
}

=======
.img-start{
 min-height: 45em;;
     background-image: url(../contents/images/unisa.jpg);
    background-repeat: no-repeat;
    background-size: cover;	
}

.blacktrasparent{
	min-height: 45em;
    background: rgba(26,26,26,0.4);
    overflow-y: hidden;
    overflow-x: hidden;
}
>>>>>>> 6eb198db4a690c4ace191d29a3de14f5d80009fd
